* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: gill;
  src: url(fonts/GillSansStd.otf);
}

@font-face {
  font-family: proximaFont;
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

@font-face {
  font-family: gillLight;
  src: url(fonts/GillSansStd.otf);
  font-weight: lighter;
}
